.control-btn {
    border: 2px solid var(--tn-primary);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--tn-primary);
    transition: var(--tn-tansition);
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
}

.control-btn:hover {
    outline: none;
    box-shadow: 3px 3px 0 0 var(--tn-primary);
    transform: translate(-4px, -4px);
    color: var(--tn-primary);
}

h1 {
    color: var(--tn-secondary);
    font-size: 25px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 640px) {

    h1 {
        font-size: 50px;
    }

    .control-btn {
        font-size: large;
        line-height: 30px;
    }
  
  }