.card {
    border-radius: 20px;
    border: 2px solid var(--tn-primary);
    box-shadow: 0 10px 30px 5px black;
    transition: 1s;
}

.card:hover {
    box-shadow: 0px 0px 300px 50px black;
    border-color: #681dfd;
    cursor: pointer;
}

.card:hover .card-img {
    opacity: 0.7;
    transition: 0.5s ease-in-out;
}

.card-img {
     border-radius: 20px;
}